body {
  background-color: #fbc547;
  color: white;
  font-family: "Helvetica", sans-serif; }

label, input {
  display: block;
  font-size: 22px;
  margin: 6px; }

.title-text {
  padding: 30px; }

hr {
  width: 50%;
  margin-top: -16px !important; }

.display-input {
  width: 45%;
  opacity: 0.8;
  font-size: 19px; }

.hidden {
  visibility: hidden; }

.form {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 100%; }
  .form .input-group {
    padding-top: 10px; }
    .form .input-group .form-control {
      padding: 10px;
      height: 6px;
      border-radius: 2px; }
  .form .postcode {
    padding: 10px; }
  .form #getaddress_input {
    padding: 10px;
    height: 53px;
    border-radius: 2px;
    border: 1px solid white;
    opacity: 0.8;
    text-align: center;
    margin-left: 29px;
    color: #5bc0de; }
  .form #getaddress_button {
    height: 43px;
    border-radius: 8px;
    margin-left: 4px;
    background: none;
    border: 3px solid white;
    color: white;
    padding: 8px;
    margin: 6px;
    margin-right: 193px; }
  .form #getaddress_dropdown {
    height: 50px;
    margin-top: 10px;
    background: none;
    border: 1px solid white;
    color: white;
    opacity: 0.8;
    font-size: 12px;
    width: 92%;
    margin-left: -199px; }
  .form .form-group {
    padding: 10px; }
  .form .input-group {
    height: 52px;
    border-radius: 3px;
    background: none;
    border: 1px solid white;
    color: white;
    opacity: 0.8;
    padding: 2px;
    text-align: center; }
  .form #first {
    float: left; }
  .form #second {
    float: left; }
  .form .btn {
    height: 46px;
    width: 89px;
    border-radius: 8px;
    margin-left: 4px;
    background: none;
    border: 2px solid white;
    color: white;
    border-radius: 13px;
    font-size: 21px; }
